<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group" role="tablist">
        <a class="list-group-item list-group-item-action active" routerLink="/teacher/home" data-toggle="list">
          {{'teacherPage.title' | translate}}
        </a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/teacher/home', {outlets: {'teacherRouter': ['createCourse']}}]" data-toggle="list">
          {{'teacherPage.createCourse' | translate}}
        </a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/teacher/home', {outlets: {'teacherRouter': ['showCourses']}}]" data-toggle="list">
          {{'teacherPage.showCourses' | translate}}
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet name="teacherRouter"></router-outlet>
    </div>
  </div>
</div>