<div class="clear-fix"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group" role="tablist">
          <a class="list-group-item list-group-item-action active" routerLink="/student/home" data-toggle="list">
            {{'loginedUser.title' | translate}} <span class="sr-only">(current)</span>
          </a>
          <a class="list-group-item list-group-item-action" [routerLink]="['/student/home', {outlets: {'studentRouter': ['selectCourse']}}]" data-toggle="list">
            {{'loginedUser.course' | translate}}
          </a>
          <a class="list-group-item list-group-item-action" [routerLink]="['/student/home', {outlets: {'studentRouter': ['showCourses']}}]" data-toggle="list">
            {{'loginedUser.showCourse' | translate}}
          </a>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet name="studentRouter"></router-outlet>
    </div>
  </div>
</div>