<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#" translate>nav.title</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" translate>nav.first</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/student/add']" translate>nav.second</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/teacher/add']" translate>nav.third</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/student/login']" translate>nav.fourth</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/teacher/login']" translate>nav.fifth</a>
        </li>
    </ul>
  </div>
  <p *ngIf="loginedUser; else notLogin" class="navbar-text navbar-right" translate [translateParams]='{name : loginedUser.unique_name}'>
    nav.greeting
    <a href="javascript:;" (click)="logOut()" class="navbar-link" translate> nav.quit</a>
  </p>
  <ng-template #notLogin>
    <p class="navbar-text navbar-right" style="margin-top: 7px">
      <a [routerLink]="['/student/login']" class="navbar-link" translate>nav.studentSignIn&nbsp;&nbsp;</a>
      <a [routerLink]="['/teacher/login']" class="navbar-link" translate>nav.teacherSignIn</a>
    </p>
  </ng-template>
</nav>