<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">School Automation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/student/add']">Student Register</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/teacher/add']">Teacher Register</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/student/login']">Student Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/teacher/login']">Teacher Login</a>
        </li>
    </ul>
  </div>
  <p *ngIf="loginedUser; else notLogin" class="navbar-text navbar-right">
    Signed in as {{ loginedUser.unique_name }}
    <a href="javascript:;" (click)="logOut()" class="navbar-link"> Log Out!</a>
  </p>
  <ng-template #notLogin>
    <p class="navbar-text navbar-right" style="margin-top: 7px">
      <a [routerLink]="['/student/login']" class="navbar-link">Student Sign In&nbsp;&nbsp;</a>
      <a [routerLink]="['/teacher/login']" class="navbar-link">Teacher Sign In</a>
    </p>
  </ng-template>
</nav>