<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col" translate>showCourses.name</th>
        <th scope="col" translate>showCourses.department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <th scope="row">{{course.id}}</th>
        <td><a [routerLink]="['/teacher/home', {outlets: {'teacherRouter': ['showCoursesDetail',course.id]}}]" >{{course.name}}</a></td>
        <td>{{course.department.name}}</td>
      </tr>
    </tbody>
  </table>