<form #loginTeacherForm="ngForm" (ngSubmit)="loginTeacher(loginTeacherForm)" class="form-signin">
  <div class="card">
    <div class="card-header">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal" translate>loginTeacher.title</h1>
      </div>
    </div>
    <div class="card-body">
      <div class="form-label-group">
        <input #email="ngModel" [(ngModel)]="model.email" name="email" type="email" id="number" class="form-control"
          placeholder="{{'loginTeacher.email' | translate}}" required autofocus email>
        <label for="inputEmail">{{'loginTeacher.email' | translate}}</label>
      </div>
      <div class="form-label-group">
        <input #password="ngModel" [(ngModel)]="model.password" name="password" type="password" id="password"
          class="form-control" placeholder="{{'loginTeacher.password' | translate}}" required>
        <label for="inputPassword">{{'loginTeacher.password' | translate}}</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" translate>loginTeacher.loginButton</button>
    </div>
    <div class="card-footer text-muted">
      <p class="text-center">&copy; 2017-2019</p>
    </div>
  </div>
</form>