<h3>{{course.name}}</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" translate>showCoursesDetail.studentNumber</th>
      <th scope="col" translate>showCoursesDetail.studentName</th>
      <th scope="col" translate>showCoursesDetail.studentSurname</th>
      <th scope="col" translate>showCoursesDetail.mark</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let courseStudent of courseStudents">
      <th scope="row">{{courseStudent.student.number}}</th>
      <td>{{courseStudent.student.name}}</td>
      <td>{{courseStudent.student.surname}}</td>
      <td *ngIf="courseStudent.mark;else noMark">{{courseStudent.mark}}</td>
      <ng-template #noMark>
        <app-student-add-mark-form [courseStudentId]="courseStudent.id"></app-student-add-mark-form>
      </ng-template>
    </tr>
  </tbody>
</table>