<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="myform form ">
      <form #createStudentForm="ngForm" (ngSubmit)="createStudent(createStudentForm)">
        <div class="card">
          <div class="card-header">
            <h1 class="wv-heading--title text-center" translate>
              createStudent.title
            </h1>
          </div>
          <div class="card-body">
            <div class="form-group">
              <input type="text" #name="ngModel" [(ngModel)]="model.name" name="name" class="form-control my-input"
                id="name" placeholder="{{'createStudent.name' | translate}}" required />
              <div *ngIf="name.invalid && name.dirty" class="alert alert-danger" translate>createStudent.nameError
              </div>
            </div>
            <div class="form-group">
              <input type="text" #surname="ngModel" [(ngModel)]="model.surname" name="surname"
                class="form-control my-input" id="surname" placeholder="{{'createStudent.surname' | translate}}"
                required />
              <div *ngIf="surname.invalid && surname.dirty" class="alert alert-danger" translate>
                createStudent.surnameError</div>
            </div>
            <div class="form-group">
              <input required type="email" #mail="ngModel" [(ngModel)]="model.mail" name="mail"
                class="form-control my-input" id="mail" placeholder="{{'createStudent.mail' | translate}}" required
                email />
              <div *ngIf="mail.invalid&&mail.dirty" class="alert alert-danger" translate>createStudent.mailError
              </div>
            </div>
            <div class="form-group">
              <input type="password" #password="ngModel" [(ngModel)]="model.password" name="password"
                class="form-control my-input" id="password" placeholder="{{'createStudent.password' | translate}}"
                required />
              <div *ngIf="password.invalid&&password.dirty" class="alert alert-danger" translate>
                createStudent.passwordError</div>
            </div>
            <div class="form-group">
              <input type="number" #number="ngModel" [(ngModel)]="model.number" name="number" id="number"
                class="form-control my-input" placeholder="{{'createStudent.schoolNumber' | translate}}" required />
              <div *ngIf="number.invalid&&number.dirty" class="alert alert-danger" translate>
                createStudent.numberError</div>
            </div>
            <div class="form-group">
              <select #departmentId="ngModel" [(ngModel)]="model.departmentId" name="departmentId" id="departmentId"
                class="form-control" required>
                <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
              </select>
              <div *ngIf="departmentId.invalid&&departmentId.touched" class="alert alert-danger" translate>
                createStudent.departmentError</div>
            </div>
            <div class="text-center ">
              <button type="submit" class=" btn btn-block send-button tx-tfm" [disabled]="!createStudentForm.valid">
                Create Student
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>